<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'stalkers' %>
<% end %>

<div class="row">
  <h1>
    You are at Watch Tower of <%= @city.name %>.
  </h1>
  <div class="col-md-3">
    <%= render "places" %>
  </div>
  <div class="col-md-6">
    <h3>Users who are stalking tonight</h3>
    <ul class="users">
      <% @users.each do |user| %>
        <li>
          <p><%= user.name %></p>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    <%= button_to 'stalk tonight', stalk_city_path(@city), class: 'btn btn-success', :remote => true %>
  </div>
</div>
