<% content_for :javascript_includes do %>
  <!--<%= javascript_include_tag 'js_file_to_include_here' %>-->
<% end %>

<div class="row">
  <h1>
    You are at Watch Tower of <%= @city.name %>.
  </h1>
  <div class="col-xs-3">
    <%= render "places" %>
  </div>
  <div class="col-xs-6" id="stalkers_list">
    <h3>Users who are stalking tonight</h3>
    <%= render "stalkers" %>
  </div>
  <div class="col-xs-3" id="stalking_actions">
    <%= render "stalking_actions" %>
  </div>
</div>
