<!DOCTYPE html>
<html>
<head>
  <title>TelezdaLite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% if logged_in? %>
      <%= content_tag :div, :id => "place_holder", :data => {:place => current_user.place} do %><% end %>
    <% end %>
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/whoops_alert' %>
  </div>

</body>
</html>
